<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
    {% if menu %}
            {% from 'macros/header.html' import Header %}
            {{ Header(menu) }}
    {% endif %}
    </header>
    <main>
        {% block content %}
        <p>This is the main content area.</p>
        {% endblock %}
    </main>
    <footer>
        {% from 'macros/footer.html' import Footer %}
        {{ Footer() }}
    </footer>
</body> 
</html>